- let cats = {
- 	'Tiger': {
- 		name: 'Panthera tigris', 
- 		code: '1501705388883-4ed8a543392c', 
- 		desc: 'tiger in the water'
- 	}, 
- 	'Lion': {
- 		name: 'Panthera leo', 
- 		code: '1519066629447-267fffa62d4b', 
- 		desc: 'lion and lioness resting on a rock in the sun'
- 	}, 
- 	'Leopard': {
- 		name: 'Panthera pardus', 
- 		code: '1566489564594-f2163930c034', 
- 		desc: 'blue-eyed leopard resting high up with its head on its front paws'
- 	}, 
- 	'Jaguar': {
- 		name: 'Panthera onca', 
- 		code: '1601544359642-c76c4f7c3221', 
- 		desc: 'jaguar closeup'
- 	}, 
- 	'Snow leopard': {
- 		name: 'Panthera uncia', 
- 		code: '1689847190291-f8e0823f13ab', 
-			desc: 'snow leopard lying low on some rocks, its fur blending in perfecty'
- 	}, 
- 	'Cheetah': {
- 		name: 'Acinonyx jubatus', 
- 		code: '1693702366986-cbfbd1cf0450', 
- 		desc: 'cheetah in the grass at dusk'
- 	}, 
- 	'Cougar': {
- 		name: 'Puma concolor', 
- 		code: '1661004527094-07d861089aed', 
- 		desc: 'cougar walking through the snow'
- 	}
- };
- let e = Object.entries(cats), n = e.length;
- let m = 15;

- function rand(max, min, prc = 2)
	- return +(min + (max - min)*Math.random()).toFixed(2)

section(style=`--n: ${n}; --k: 0`)
	- for(let i = 0 ; i < n; i++)
		- let v = e[i][1];
		article(style=`--i: ${i}; --a: ${rand(m, -1*m)}deg`)
			h2 #{e[i][0]}
			em #{v.name}
			img(src=`https://images.unsplash.com/photo-${v.code}?w=400` alt=v.desc)
	div
		button(aria-label='previous' data-inc='-1')
		button(aria-label='next' data-inc='1')